<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexmotion.account.AccountMapper">
  <resultMap type="com.nexmotion.account.Account" id="account">
       <id column="userid" property="userid" />
  </resultMap>

  <insert id="insertAccountList" parameterType="java.util.List">
       /* AccountMapper.insertAccount */
       /* 사용자 계정정보를 삭제하는 내용은
        * 사용자계정정보 연계개발가이드 문서에 적혀있지 않기 때문에
        * INSERT IGNORE 를 사용함 */
        
       INSERT IGNORE
         INTO account
             (userid
             ,userno
             ,username
             ,gvofcode
             ,oposcode
             ,cposcode
             ,userstat)
       VALUES
      <foreach collection="list" item="item" index="index" separator=",">
          (#{item.userid}
          ,#{item.userno}
          ,#{item.username}
          ,#{item.gvofcode}
          ,#{item.oposcode}
          ,#{item.cposcode}
          ,#{item.userstat})
      </foreach>
  </insert>

  <insert id="insertAccount" parameterType="com.nexmotion.account.Account">
      /* AccountMapper.insertAccount */
    INSERT IGNORE
      INTO account
           (userid
           ,userno
           ,username
           ,gvofcode
           ,oposcode
           ,cposcode
           ,userstat)
    VALUES (#{userid}
           ,#{userno}
           ,#{username}
           ,#{gvofcode}
           ,#{oposcode}
           ,#{cposcode}
           ,#{userstat})
  </insert>
  <select id="selectAccount" parameterType="com.nexmotion.account.Account" resultMap="account">
      /* AccountMapper.selectAccount */
    SELECT userid
      FROM account
  </select>

  <update id="updateAccount" parameterType="com.nexmotion.account.Account">
      /* AccountMapper.updateAccount */
    UPDATE account
       SET userid = #{userid}
          ,userno = #{userno}
          ,username = #{username}
          ,gvofcode = #{gvofcode}
          ,oposcode = #{oposcode}
          ,cposcode = #{cposcode}
          ,userstat = #{userstat}
     WHERE userid = #{userid}
  </update>
</mapper>