<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexmotion.account.AccountMapper">

    <resultMap type="com.nexmotion.account.Account" id="account">
       <id column="userid" property="userid" />
       <id column="gvofcode" property="gvofcode" />
    </resultMap>

    <insert id="insertAccountList" parameterType="java.util.List">
         /* AccountMapper.insertAccountList */
         INSERT
           INTO account
               (userid
               ,userno
               ,username
               ,gvofcode
               ,oposcode
               ,cposcode
               ,userstat
               ,chgdate)
         VALUES
        <foreach collection="list" item="item" index="index" separator=",">
               (#{item.userid}
               ,#{item.userno}
               ,#{item.username}
               ,#{item.gvofcode}
               ,#{item.oposcode}
               ,#{item.cposcode}
               ,#{item.userstat}
               ,#{item.chgdate})
        </foreach>
    </insert>

    <insert id="insertUseridAuthList" parameterType="java.util.List">
        /* AccountMapper.insertUseridAuthList */
        INSERT
          INTO useridauth
              (userid
              ,isadmin
              ,isimginform
              ,isprivacy
              ,isvideoinform
              ,isexcept
              ,isdestruction)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.userid}
            ,0
            ,0
            ,0
            ,0
            ,0
            ,0
        </foreach>
    </insert>

    <insert id="insertAccount" parameterType="com.nexmotion.account.Account">
        /* AccountMapper.insertAccount */
      INSERT
        INTO account
             (userid
             ,userno
             ,username
             ,gvofcode
             ,oposcode
             ,cposcode
             ,userstat
             ,chgdate)
      VALUES (#{userid}
             ,#{userno}
             ,#{username}
             ,#{gvofcode}
             ,#{oposcode}
             ,#{cposcode}
             ,#{userstat}
             ,#{chgdate})
    </insert>

    <insert id="insertUseridAuth" parameterType="com.nexmotion.account.Account">
        /* AccountMapper.insertUseridAuth */
      INSERT IGNORE
        INTO useridauth
             (userid
             ,isadmin
             ,isimginform
             ,isprivacy
             ,isvideoinform
             ,isexcept
             ,isdestruction
             )
      VALUES (#{userid}
             ,0
             ,0
             ,0
             ,0
             ,0
             ,0
             )
    </insert>

    <select id="selectAccount" parameterType="com.nexmotion.account.Account" resultMap="account">
        /* AccountMapper.selectAccount */
      SELECT userid
            ,gvofcode
        FROM account
    </select>

    <update id="updateAccount" parameterType="com.nexmotion.account.Account">
      /* AccountMapper.updateAccount */
      UPDATE account
         SET userid = #{userid}
            ,userno = #{userno}
            ,username = #{username}
            ,gvofcode = #{gvofcode}
            ,oposcode = #{oposcode}
            ,cposcode = #{cposcode}
            ,userstat = #{userstat}
            ,chgdate = #{chgdate}
       WHERE userid = #{userid}
    </update>

    <delete id="deleteRetireAccount" parameterType="com.nexmotion.account.Account">
          /*AccountMapper.deleteRetireAccount*/
          DELETE
            FROM account
           WHERE userstat = '03'
             AND chgdate <![CDATA[<=]]> #{retireDate}
    </delete>

    <delete id="deleteRetireUseridAuth" parameterType="com.nexmotion.account.Account">
          /*AccountMapper.deleteRetireUseridAuth*/
          DELETE
            FROM useridauth
           WHERE userid = (SELECT userid
                             FROM account
                            WHERE userstat = '03'
                              AND chgdate <![CDATA[<=]]> #{retireDate})
    </delete>

    <delete id="deleteAccount">
        /*AccountMapper.deleteAccount Query*/
        DELETE
          FROM account
    </delete>

    <delete id="deleteUseridAuth">
        /*AccountMapper.deleteUseridAuth Query*/
        DELETE
          FROM useridauth
    </delete>

    <update id="updateAuth" parameterType="com.nexmotion.account.Account">
      /* AccountMapper.updateAuth */
      UPDATE useridauth
         SET isadmin = 0
            ,isimginform = 0
            ,isprivacy = 0
            ,isvideoinform = 0
            ,isexcept = 0
            ,isdestruction = 0
       WHERE userid = #{userid}
    </update>

</mapper>