<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexmotion.sync.SyncMapper">

    <resultMap id="getchgdate" type="com.nexmotion.sync.SyncVO">
        <result column= "chgstartdate" property= "chgstartdate" javaType="java.time.LocalDateTime" />
        <result column= "chgenddate" property= "chgenddate" javaType="java.time.LocalDateTime" />
    </resultMap>

    <select id= "getChgDate" resultMap="getchgdate">
        /*ManagerMapper.getchgdate Query*/
        SELECT chgstartdate
              ,chgenddate
          FROM syncdate
    </select>

    <update id="updateChgDate" parameterType="com.nexmotion.sync.SyncVO">
        /*ManagerMapper.updateChgDate Query*/
        UPDATE syncdate
           SET chgstartdate = #{chgstartdate}
              ,chgenddate = #{chgenddate}
    </update>

    <delete id="truncateAccount">
        /*ManagerMapper.truncateAccount Query*/
        TRUNCATE
           TABLE account
    </delete>

    <delete id="truncateOrganization">
        /*ManagerMapper.truncateOrganization Query*/
        TRUNCATE
           TABLE VI_GVOF_MS
    </delete>

    <delete id="truncatePosition">
        /*ManagerMapper.truncatePosition Query*/
        TRUNCATE
           TABLE VI_CNM_CD
    </delete>
</mapper>