<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexmotion.sync.SyncMapper">

    <resultMap id="getchgdate" type="com.nexmotion.sync.SyncVO">
        <result column= "chgStartDate" property= "chgStartDate" javaType="java.time.LocalDateTime" />
        <result column= "chgEndDate" property= "chgEndDate" javaType="java.time.LocalDateTime" />
    </resultMap>

    <select id= "getChgDate" resultMap="getchgdate">
        /*ManagerMapper.getChgDate Query*/
        SELECT chgStartDate
              ,chgEndDate
          FROM syncdate
    </select>

    <update id="updateChgDate" parameterType="com.nexmotion.sync.SyncVO">
        /*ManagerMapper.updateChgDate Query*/
        UPDATE syncdate
           SET chgStartDate = #{chgStartDate}
              ,chgEndDate = #{chgEndDate}
    </update>
</mapper>