<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexmotion.position.PositionMapper">

    <resultMap id="position" type="com.nexmotion.position.Position">
        <id column="cnmcode" property="cnmcode" />
    </resultMap>

    <insert id="insertPositionList" parameterType="java.util.List">
        /* positionMapper.insertPositionList */
        INSERT
          INTO position
              (cnmcode
              ,cnmname
              ,grpcode
              ,chgdate
              ,useyn)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.cnmcode}
              ,#{item.cnmname}
              ,#{item.grpcode}
              ,#{item.chgdate}
              ,#{item.useyn})
        </foreach>
    </insert>
    <insert id="insertPosition" parameterType="com.nexmotion.position.Position">
        /* positionMapper.insertPosition */
        INSERT
          INTO position
               (cnmcode
               ,cnmname
               ,grpcode
               ,chgdate
               ,useyn)
        VALUES (#{cnmcode}
               ,#{cnmname}
               ,#{grpcode}
               ,#{chgdate}
               ,#{useyn})
    </insert>

    <update id="updatePosition" parameterType="com.nexmotion.position.Position">
        /* positionMapper.updatePosition */
        UPDATE position
           SET cnmcode = #{cnmcode}
              ,cnmname = #{cnmname}
              ,grpcode = #{grpcode}
              ,chgdate = #{chgdate}
              ,useyn = #{useyn}
         WHERE cnmcode = #{cnmcode}
    </update>

    <select id="selectPosition" resultMap="position">
        /* positionMapper.selectPosition */
        SELECT cnmcode
          FROM position
    </select>

    <delete id="truncatePosition">
        /*positionMapper.truncatePosition Query*/
        TRUNCATE
           TABLE position
    </delete>
</mapper>